/* #control { */
/*     float: left; */
/* } */

body {
    padding-bottom: 20px;
    padding-top: 80px;
}

.subnav {
    top: 50px;
    z-index: 1020;
}
.subnav > .navbar-inner {
    background-image: none;
    border: none;
    -webkit-box-shadow:none;
    background-color:#FFFFFF;
}

.sidebar-nav-fixed {
    padding: 9px 0;
    position: fixed;
    left: 20px;
    top: 90px;
    width: 260px;
}

.row-fluid > .span-fixed-sidebar {
    margin-left: 340px;
}

.mixtag [class*="span"] {
    margin: 0 0 0 0;
    /* border-radius: 15px; */
    /* border:2px solid #a1a1a1; */
}

.mixtag:hover{
    border:2px solid #FCE372;
}
