/*********** GENERAL *******************/
body {
    font-family: arial,sans-serif;
    font-size: 13px;
    padding-bottom: 20px;
    padding-top: 40px;
}

/************* NAV BAR ****************/
.navbar-inner {
    background-image: none;
    border-width: 1px 0 1px 0;
    border-color: #ddd;
    box-shadow: 0 0 0 0 !important;
    background-color:#FFFFFF;
}

.brand {
    margin-left: 0 !important;
}

.subtitle {
    float: left;
    font-size: 16px;
    color: #d14836;
    padding: 10px 10px 10px 10px;
}

.options-button {
    padding: 2px 2px !important;
}

.download-button {
    margin: 10px 10px 10px 20px;
    width: 60px;
    height: 28px;
    border:none;
    -webkit-border-radius:5px;
    background-color: #d14836;
}

.download-button:hover {
    background-color: #C94230;
}

.download-button.hidden {
    display: hidden;
}

.icon-cloud-download {
    color: #fff;
    font-size: 1.25em;
}

.logged-in > .avatar {
    height: 38px;
    padding: 2px 2px;
}


/************* SIDE NAV ****************/

.sidebar-nav-fixed {
    padding: 9px 0;
    margin-top: 10px;
    background-color:#FFFFFF;
    border: none;
    position: fixed;
    left: 20px;
    width: 260px;
}

.span-fixed-sidebar {
    margin-top: 10px;
}

.search-user-button {
    width: 60px;
    height: 28px;
    border:none;
    -webkit-border-radius:5px;
    background-color: #4d90fe;
}

.search-user-button:hover {
    background-color:#3F80E0
}

.icon-search {
    color: #fff;
    font-size: 1.25em;
}

.filter-bar {
    float: left;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.filter-input {
    margin-bottom: 0px !important;
    width: 165px;
}

.filter-mix-button {
    width: 60px;
    height: 28px;
}

.liked-mixes-button {
    width: 160px;
    height: 28px;
    border:none;
    -webkit-border-radius:5px;
    background-color: #4d90fe;
}

.liked-mixes-button:hover {
    background-color:#3F80E0
}

#liked-mixes.hidden {
    display: none;
}

/*********** Mix Table  ***************/

.table-checkbox {
    width: 20px
}
.table-cover {
    width: 40px;
}
.table-title {
    width: 180px;
}
.table-description {
    width: 220px;
}
.table-tags {
    width: 180px;
}
.table-date {
    width: 50px;
}


/************* MODAL ******************/

/* modal wrapper would like to gray out
 * whole screen ...
 */
#modal-outer{
    display: block;
    position: absolute;
    top: 0;
    left:0;
    hieght: 0%;
    width: 0%;
    z-index: 9999;
    background: gray;
    background: rgba(0, 0, 0, .5);
}
#modal-outer.hidden {
    display: none;
}

/* modal inner */
#modal{
    width: auto;
    height: auto;
    visibility: visible;
    display: block;
    /**/
    z-index: 6000;
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 40%;
    margin: 90px auto 40px;
    overflow: visible;
    background-color: white;
    border: 1px solid #CCC	9;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .4),inset 0 1px 0 rgba(255, 255, 255, .5);
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4),inset 0 1px 0 rgba(255, 255, 255, .5);
}

/* modal close button */
#modal > #close-login  {
    position: absolute;
    right: 0;
    top: 0;
    color: transparent;
    font-size: 0px;
}

#modal > #close-login::after {
    content: 'X';
    display: block;
    /* position: absolute; */
    right: -16px;
    top: -16px;
    width: 10px;
    height: 4px;
    padding: 3px 7px 17px 7px;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    background: #d14836;
    color: white;
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
}

#modal > #close-login:hover {
    background-color: #C94230;
}


#modal > #modal-login {
    width: 60px;
    height: 28px;
    border:none;
    -webkit-border-radius:5px;
    background-color: #4d90fe;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

#modal > #modal-login:hover {
    background-color:#3F80E0
}


#modal > #prependedInput {
    margin-bottom: 0px !important;
}
#modal > .login-input {
    width: 156px !important;
}